<div class="d-flex flex-row justify-content-between flex-wrap md:flex:-nowrap">

  <div class="p-4 " *ngFor="let patient of patients">

    <div class="card" style="width: 35em">

      <div class="card-body">
        <h5 class="card-title">{{patient.nombre}} {{patient.apellido_paterno}} {{patient.apellido_materno}}</h5>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><b>Genero:</b> {{patient.genero}}</li>
        <li class="list-group-item"><b>CURP:</b> {{patient.curp}}</li>
        <li class="list-group-item"><b>Correo:</b> {{patient.email}}</li>
        <li class="list-group-item"><b>Fecha de nacimiento:</b> {{patient.fecha_nacimiento}}</li>
        <li class="list-group-item"><b>Estado civil:</b> {{patient.estado_civil}}</li>

        <li class="list-group-item"><b>NSS:</b> {{patient.nss}}</li>
        <li class="list-group-item"><b>Grupo sanguineo:</b> {{patient.grupo_sanguineo}}</li>


      </ul>

      <div class="card-body">
        <a (click)="deletePatient(patient)" class="btn btn-danger">Eliminar</a>
      </div>

    </div>

  </div>

</div>
