<div class="d-flex flex-row justify-content-between flex-wrap md:flex:-nowrap">

  <div class="p-4" *ngFor="let patient of patients">

    <div style="width: 35em;" class="card text-center">
      <div class="card-header">
        <h5 class="card-title">
          {{patient.nombre}} {{patient.apellido_paterno}} {{patient.apellido_materno}}
        </h5>
      </div>
      <div class="card-body">

        <p class="card-text"><b>Genero:</b> {{patient.genero}}</p>
        <p class="card-text"><b>CURP:</b> {{patient.curp}}</p>
        <p class="card-text"><b>Correo:</b> {{patient.email}}</p>
        <p class="card-text"><b>Fecha de nacimiento:</b> {{patient.fecha_nacimiento}}</p>
        <p class="card-text"><b>Estado civil:</b> {{patient.estado_civil}}</p>
        <p class="card-text"><b>NSS:</b> {{patient.nss}}</p>
        <p class="card-text"><b>Grupo sanguineo:</b> {{patient.grupo_sanguineo}}</p>

      </div>
      <div class="card-footer d-flex justify-content-around">
        <a (click)="deletePatient(patient)" class="btn btn-danger">Eliminar</a>
        <a class="btn btn-primary">Actualizar</a>
      </div>
    </div>

  </div>

</div>